* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/*navbar*/
.navbar {
  background-color: #0f253a;
  position: relative;
}
.navbar-3 {
  background-color: #0f253a;
  position: relative;
}
#nav-3 {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
}
#nav-3-right {
  padding-left: 250px;
}
.circle {
  /* margin: 1rem auto; */
  background-color: #7dba2f;
  position: absolute;
  left: 40%;
  text-align: center;
  font-size: 30px;
  padding-top: 60px;
  color: #fff;
}
#semi-circle {
  width: 16rem;
  height: 10rem;
  background-color: #7dba2f;
  border-radius: 0 0 10rem 10rem;
}
.navbar a {
  color: #e7e9eb;
}
.navbar a:hover {
  color: #7dba2f;
}
.px-2 i {
  width: 100%;
  background-color: #ffffff;
  padding: 10px 10px;
  border-radius: 50%;
  color: #7dba2f;
}
.btn {
  padding: 10px 25px;
  border-radius: 20px;
}
.banner {
  background-image: url(./banner.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 80px;
}
.col-md-2 a {
  color: #848484;
}
#img {
  padding-top: 2rem;
}
.img-1 {
  position: relative;
}
.overlay {
  background-image: url(./people.jpg);
  background-repeat: no-repeat;
  width: 25rem;
  height: 23rem;
  position: absolute;
  top: 155%;
  left: 33%;
  padding-left: 30px;
  padding-top: 13rem;
  color: #ffffff;
}
.section-2 {
  height: 80vh;
}
.s-card {
  width: 22rem;
  height: 15rem;
  margin-right: 20px;
}
.s-img img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
}
.section-2 {
  padding-bottom: 6rem;
}
.section-3 {
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.h1 {
  font-size: 80px;
}
.p {
  font-size: 30px;
}
.one img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.n-card {
  width: 20rem;
}
.n-card-img {
  width: 18rem;
  height: 15rem;
}
.f-img {
  width: 80px;
}
.footer {
  display: flex;
  align-items: stretch;
  position: relative;
  background-color: #111;
}
#semi-circle-1 {
  width: 10rem;
  height: 5rem;
  background-color: #7dba2f;
  border-radius: 0 0 10rem 10rem;
}
#f-content {
  position: relative;
}
.footer-2 {
  position: absolute;
  top: -24px;
}
.circle-1 {
  /* margin: 1rem auto; */
  background-color: #7dba2f;
  position: absolute;
  left: 13%;
  text-align: center;
  font-size: 25px;
  color: #fff;
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
